footer.footer 
    .footer__container 
        ul.footer__social-list 
            li.footer__social-item  
                a.footer__social-link(href="#")
                    include ../../assets/img/icons/tik-tok.svg
            li.footer__social-item  
                a.footer__social-link.footer__social-link--whatsapp(href="#")
                    include ../../assets/img/icons/whatsapp-icon.svg
            li.footer__social-item  
                a.footer__social-link.footer__social-link--telegram(href="#")
                    include ../../assets/img/icons/telegram-icon.svg
            li.footer__social-item  
                a.footer__social-link(href="#")
                    include ../../assets/img/icons/rutube-icon.svg
                    
        ul.footer__nav-list 
            li.footer__nav-item 
                a.footer__nav-link.footer__nav-link--active(href="")
                    span.footer__nav-link-text Для поставщиков
            li.footer__nav-item 
                a.footer__nav-link(href="")
                    span.footer__nav-link-text Наши документы
            li.footer__nav-item 
                a.footer__nav-link(href="")
                    span.footer__nav-link-text О производстве
            li.footer__nav-item 
                a.footer__nav-link(href="")
                    span.footer__nav-link-text Экологические стандарты
                    
        .footer__copyright     
            a.footer__copyright-logo-link(href="")
                include ../../assets/img/icons/ha-icon.svg 
            p.footer__copyright-text 
                a.footer__copyright-text-link(href="")
                    span.footer__copyright-text-link-inner Сделано в HTML Academy 
                span.footer__copyright-text-date © 2019
            
                     