header.header   
    .header__container 
        a.header__logo(href="/gllacy-template/index.html")
            include ../../assets/img/icons/logo.svg
            
        ul.header__site-nav-list 
            li.header__site-nav-item
                a.header__site-nav-link(href="/gllacy-template/catalog.html") Каталог
            li.header__site-nav-item 
                a.header__site-nav-link(href="#") Доставка и оплата
            li.header__site-nav-item 
                a.header__site-nav-link(href="#") О компании
                
        ul.header__user-nav-list 
            li.header__user-nav-item    
                a.header__user-nav-button.header__user-nav-button--search(href="#")
                    include ../../assets/img/icons/search-icon.svg
            li.header__user-nav-item
                a.header__user-nav-button.header__user-nav-button--enter(href="#")
                    include ../../assets/img/icons/enter-icon.svg  
                    span.header__user-nav-button-text Вход
            li.header__user-nav-item 
                a.header__user-nav-button.header__user-nav-button--order(href="#")
                    include ../../assets/img/icons/cart-icon.svg 
                    span.header__user-nav-button-text Пусто
                
                