@font-face {
  font-family: 'Roboto Bold';
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Italic';
  font-display: swap;
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  font-display: swap;
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Regular';
  font-display: swap;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}
