@use '../../global.scss';

.map {
  width: 1200px;
  margin: 0 auto 18px;
  padding: 40px 0 0 0;
}

.map__container {
  width: 1200px;
  position: relative;
  padding: 62px 0 60px 0;
  background: url(../../../assets/img/map-bg.jpg);
}

.map__ice-cream-icon {
  position: absolute;
  content: '';
  width: 80px;
  height: 140px;
  background: url(../../../assets/img/icons/ice-cream-map-icon.svg);
  top: 135px;
  left: 266px;
}

.map__contacts-container {
  position: relative;
  width: 302px;
  background: global.$basic-white;
  border-radius: 15px;
  margin-left: 870px;
  padding: 30px 0 30px 26px;
  line-height: 20px;
  box-sizing: border-box;
}

.map__address-title {
  width: 155px;
  display: block;
  margin: 0;
  padding: 0;
  font-family: global.$roboto-regular;
  font-style: none;
  font-size: 14px;
  color: global.$text-black;
}

.map__address-text {
  margin: 0 0 22px 0;
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 18px;
  color: global.$text-black;
  line-height: 24px;
}

.map__phone-title {
  display: block;
  font-family: global.$roboto-regular;
  font-style: none;
  font-size: 14px;
  color: global.$text-black;
  margin: 0 0 2px 0;
}

.map__phone-text {
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 18px;
  color: global.$text-black;
}

.map__phone-schedule {
  display: block;
  font-family: global.$roboto-regular;
  font-style: none;
  font-size: 14px;
  color: global.$text-black;
  margin: 0 0 30px 0;
}

.map__form-button {
  position: relative;
  display: block;
  width: 252px;
  padding: 13px 0 12px;
  border-radius: 25px;
  background: linear-gradient(
      to bottom,
      global.$light-orange 0,
      global.$dark-orange 100%
    )
    no-repeat;
  text-decoration: none;
}

.map__form-button:hover {
  box-shadow: 0 2px 2px 0 global.$shadow-orange;
}

.map__form-button:hover::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 252px;
  padding: 23px 0 24px;
  border-radius: 25px;
  background: global.$white-transparent;
}

.map__form-button:active::after {
  display: none;
}

.map__form-button:active {
  box-shadow: 0 -2px 2px 0 global.$shadow-orange;
}

.map__form-button span {
  text-align: center;
  display: block;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-white;
  letter-spacing: 5%;
  text-shadow: 0 2px 5px global.$shadow-orange;
}
