- 
    const iceCreams = [
        {imageUrl: "../../../assets/img/sliv-apels-jam-bg.png", price: "310 ₽", name: "Сливочное с апельсиновым джемом и цитрусовой стружкой"},
        {imageUrl: "../../../assets/img/sliv-coffee-bg.png", price: "380 ₽", name: "Сливочно-кофейное с кусочками шоколада"},
        {imageUrl: "../../../assets/img/sliv-klubn-bg.png", price: "355 ₽", name: "Сливочно-клубничное с присыпкой из белого шоколада"},
        {imageUrl: "../../../assets/img/sliv-krem-brule-bg.png", price: "415 ₽", name: "Сливочное крем-брюле с карамельной подливкой "},
        {imageUrl: "../../../assets/img/sliv-brusnika-bg.png", price: "325 ₽", name: "Сливочное с брусничным джемом "},
        {imageUrl: "../../../assets/img/sliv-chernika-bg.png", price: "410 ₽", name: "Сливочно-черничное с цельными ягодами черники "},
        {imageUrl: "../../../assets/img/sliv-limon-bg.png", price: "315 ₽", name: "Сливочно-лимонное с карамельной присыпкой"},
        {imageUrl: "../../../assets/img/sliv-shok-struzhka-bg.png", price: "320 ₽", name: "Сливочное с шоколадной стружкой"},
        {imageUrl: "../../../assets/img/sliv-vanil-bg.png", price: "440 ₽", name: "Сливочно-ванильное с кусочками шоколада"},
        {imageUrl: "../../../assets/img/sliv-mentol-bg.png", price: "435 ₽", name: "Сливочноe с ментоловым сиропом"},
        {imageUrl: "../../../assets/img/sliv-chern-chocolade-bg.png", price: "355 ₽", name: "Сливочное с кусочками черного шоколада"},
        {imageUrl: "../../../assets/img/sliv-myata-bg.png", price: "420 ₽", name: "Сливочное с мятным сиропом"},
    ];


section.assortment  
    h2.visually-hidden Ассортимент
    .assortment__container
        ul.assortment__list
            each iceCream in iceCreams
                li.assortment__item
                    include ./_ice-cream.pug
                    +ice-cream(iceCream)
                    
        .assortment__pagination-container 
            a.assortment__pagination-button-prev(href="#")
                include ../../../assets/img/icons/pagination-arrow-icon.svg
            ul.assortment__pagination-list 
                - for (let i = 1; i <= 5; i++)
                    li.assortment__pagination-item 
                        a.assortment__pagination-link(href="#")     
                            span.assortment__pagination-text #{i}
            a.assortment__pagination-button-next(href="#")
                include ../../../assets/img/icons/pagination-arrow-icon.svg