.breadcrumbs 
    .breadcrumbs_container 
        .breadcrumbs__content-container
            .breadcrumbs__title-container
                ul.breadcrumbs__list 
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="")
                            span.breadcrumbs__text Главная 
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="")
                            span.breadcrumbs__text Каталог
                    li.breadcrumbs__item 
                        span.breadcrumbs__text-ordinary Сливочное
                        
                h1.breadcrumbs__title Сливочное мороженое
            
            .breadcrumbs__contacts-container 
                span.breadcrumbs__contacts-time c 10 до 20, ежедневно
                span.breadcrumbs__contacts-phone 8 812 450-25-25
                
        
            
            