
mixin ice-cream(iceCream)
    .ice-cream 
        img.ice-cream__img(src=iceCream.imageUrl, alt=iceCream.name)
        span.ice-cream__price=iceCream.price 
            span.ice-cream__kg /кг
        a.ice-cream__link-text(href="#")=iceCream.name
        
        a.ice-cream__button 
            span.ice-cream__button-text Быстрый просмотр