section.selection 
    h2.visually-hidden Выбор мороженого
    .selection__container 
        form.selection__form(action="#", method="#")
            fieldset.selection__form-item-fieldset.selection__form-item-fieldset--sort 
                legend.selection__form-item-legend-sort Сортировка:
                a.selection__form-sort-button(href="#")
                    span.selection__form-sort-button-option по популярности
                    include ../../../assets/img/icons/open-triangle-icon.svg
                    
            fieldset.selection__form-item-fieldset.selection__form-item--price
                legend.selection__form-item-legend-price Цена:
                    input.selection__form-filters-min-input(type="text", value="100", id="input-0")
                    span  ₽ -
                    input.selection__form-filters-max-input(type="text", value="500", id="input-1") 
                    span  ₽ 
                .selection__form-item-price-container 
                    .range-slider(id="range-slider")
                            
            fieldset.selection__form-item-fieldset.selection__form-item--fat 
                legend.selection__form-item-legend-fat Жирность:
                .selection__form-item-fat-container 
                    label.selection__form-item-fat-label(for="0")
                        input.visually-hidden.selection__form-item-fat-input(type="radio", id="0", name="fat")
                        span.selection__form-item-fat-custom-input 
                        span.selection__form-item-fat-text 0%
                            
                    label.selection__form-item-fat-label(for="less-10")
                        input.visually-hidden.selection__form-item-fat-input(type="radio", id="less-10", name="fat")
                        span.selection__form-item-fat-custom-input 
                        span.selection__form-item-fat-text до 10%
                            
                    label.selection__form-item-fat-label(for="less-30")
                        input.visually-hidden.selection__form-item-fat-input(type="radio", id="less-30", name="fat")
                        span.selection__form-item-fat-custom-input 
                        span.selection__form-item-fat-text до 30%
                            
                    label.selection__form-item-fat-label(for="more-30")
                        input.visually-hidden.selection__form-item-fat-input(type="radio", id="more-30", name="fat")
                        span.selection__form-item-fat-custom-input 
                        span.selection__form-item-fat-text выше 30%
                            
            fieldset.selection__form-item-fieldset.selection__form-item--fill
                legend.selection__form-item-legend-fill Наполнители
                .selection__form-item-fill-container 
                    label.selection__form-item-fill-label(for="chocolate")
                        input.visually-hidden.selection__form-item-fill-input(type="checkbox", id="choсolate", name="chocolate")
                        span.selection__form-item-fill-custom-input 
                        span.selection__form-item-fill-text шоколадные
                            
                    label.selection__form-item-fill-label(for="sugar")
                        input.visually-hidden.selection__form-item-fill-input(type="checkbox", id="sugar", name="sugar")
                        span.selection__form-item-fill-custom-input 
                        span.selection__form-item-fill-text сахарные присыпки
                            
                    label.selection__form-item-fill-label(for="fruits")
                        input.visually-hidden.selection__form-item-fill-input(type="checkbox", id="fruits", name="fruits")
                        span.selection__form-item-fill-custom-input 
                        span.selection__form-item-fill-text фрукты
                            
                    label.selection__form-item-fill-label(for="syrup")
                        input.visually-hidden.selection__form-item-fill-input(type="checkbox", id="syrup", name="syrup")
                        span.selection__form-item-fill-custom-input 
                        span.selection__form-item-fill-text сиропы
                            
                    label.selection__form-item-fill-label(for="jam")
                        input.visually-hidden.selection__form-item-fill-input(type="checkbox", id="jam", name="jam")
                        span.selection__form-item-fill-custom-input 
                        span.selection__form-item-fill-text джемы
                            
            button.selection__form-button(type="#") 
                span.selection__form-button-text Применить
                    
                