@use '../global.scss';

.footer {
  width: 1200px;
  margin: 0 auto;
}

.footer__container {
  width: 1144px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__social-list {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__social-item + .footer__social-item {
  margin-left: 12px;
}

.footer__social-link--telegram svg {
  margin-left: -4px;
}

.footer__social-link svg {
  display: block;
  width: 22px !important;
  height: 22px !important;
}

.footer__social-link svg path {
  fill: global.$bg-brown !important;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: white;
  border: 2px solid #cec5c1;
  box-sizing: border-box;
}

.footer__social-link:hover {
  background: global.$hover-pink;
  border: global.$hover-pink;
}

.footer__social-link:hover.footer__social-link--whatsapp svg {
  stroke: global.$hover-pink;
}

.footer__nav-list {
  margin: 16px 0 0 240px;
  padding: 0;
  list-style: none;
  width: 397px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer__nav-item {
  position: relative;
  width: 172px;
  margin-bottom: 8px;
}

.footer__nav-link--active::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 13px;
  left: -20px;
  background: url(../../img/icons/heart-icon.svg);
}

.footer__nav-link {
  position: relative;
  text-decoration-color: global.$basic-white;
}

.footer__nav-link:hover {
  text-decoration-color: global.$hover-pink;
}

.footer__nav-link:hover .footer__nav-link-text {
  color: global.$hover-pink;
}

.footer__nav-link:hover.footer__nav-link--active::before {
  background: url(../../img/icons/heart-icon-hovered.svg);
}

.footer__nav-link-text {
  display: block;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 13px;
  color: global.$basic-white;
}

.footer__social-link svg {
  width: 30px;
  height: 30px;
}

.footer__copyright {
  margin-left: 186px;
}

.footer__copyright-logo-link:hover svg path {
  fill: global.$hover-pink;
}

.footer__copyright-text {
  margin: 0;
  padding: 0;
  width: 190px;
}

.footer__copyright-text-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 12px;
  color: global.$basic-white;
}

.footer__copyright-text-date {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 12px;
  color: global.$basic-white;
}

.footer__copyright-text:hover .footer__copyright-text-link,
.footer__copyright-text:hover .footer__copyright-text-date {
  color: global.$hover-pink !important;
}
