@use '../global.scss';

.header {
  width: 1200px;
  margin: 0 auto;
}

.header__container {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__logo:hover svg path {
  fill: global.$hover-pink;
}

.header__site-nav-list {
  width: 480px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin: 20px 0 0 24px;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.header__site-nav-item + .header__site-nav-item {
  // margin-left: 10px;
  margin-left: 0;
}

.header__site-nav-link {
  padding: 10px 19px;
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 16px;
  color: global.$basic-white;
  text-decoration: global.$white-transparent;
}

.header__site-nav-link:hover {
  padding: 10px 19px;
  background: global.$basic-white;
  border-radius: 22px;
  color: global.$text-black;
}

.header__site-nav-link:active {
  box-shadow: 0 4px 4px 0 global.$shadow-black-transparent;
}

.header__user-nav-list {
  width: 244px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  // margin: 14px 0 0 369px;
  margin: 14px 0 0 250px;
  padding: 0;
  list-style: none;
}

.header__user-nav-item + .header__user-nav-item {
  margin-left: 10px;
}

.header__user-nav-button {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__user-nav-button:hover {
  background: global.$basic-white;
}

.header__user-nav-button:hover svg path {
  fill: global.$text-black;
  // stroke: global.$text-black;
}

.header__user-nav-button:active {
  box-shadow: 0 4px 4px 0 global.$shadow-black-transparent;
}

.header__user-nav-button:hover .header__user-nav-button-text {
  color: global.$text-black;
}

.header__user-nav-button--search {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: global.$white-transparent;
}

.header__user-nav-button--enter {
  width: 92px;
  height: 32px;
  border-radius: 25px;
  background: global.$white-transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-nav-button--order {
  width: 100px;
  height: 32px;
  border-radius: 25px;
  background: global.$white-transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-nav-button-text {
  margin-left: 8px;
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 14px;
  color: global.$basic-white;
  text-decoration: global.$white-transparent;
}
