doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Глейси
  body.page.page--catalog
    include ./blocks/_header.pug
    
    //- main.main
        include ./blocks/catalog/_breadcrumbs.pug
        //- include ./blocks/catalog/_selection.pug
        include ./blocks/catalog/_assortment.pug
        
    //- include ./blocks/_footer.pug