doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Глейси
  body.page
    include ./blocks/_header.pug
    
    main.main 
        include ./blocks/index/_promo.pug
        include ./blocks/index/_offers.pug
        include ./blocks/index/_products.pug
        include ./blocks/index/_about.pug
        include ./blocks/index/_news.pug
        include ./blocks/index/_map.pug
        
    include ./blocks/_footer.pug