@use '../../global.scss';

.news {
  width: 1200px;
  margin: 0 auto;
  padding: 42px 0 0 0;
}

.news__container {
  width: 1146px;
  margin: 0 auto;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 560px;
  border-radius: 15px;
}

.news__item--blog {
  padding: 18px 0 90px 22px;
  box-sizing: border-box;
  background: url(../../img/ice-cream-strawberry-bg.png) no-repeat;
}

.news__item--subscribe {
  padding: 24px 0 0 22px;
  border: 6px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;

  background: linear-gradient(#f8f7f4, #f8f7f4 0) padding-box,
    url(../../img/mail-bg.png) border-box;
}

.news__item-description-blog {
  margin: 0 0 6px 0;
  padding: 0;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$text-black;
}

.news__item-title-link {
  width: 287px;
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 24px;
  color: global.$text-black;
}

.news__item-description-subscribe {
  width: 512px;
  margin: 0 0 39px 0;
  padding: 0;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: global.$text-grey-dark;
}

.news__item-subscribe-form {
  width: 508px;
  display: flex;
  justify-content: space-between;
}

.news__item-input {
  width: 360px;
  padding: 12px 0 12px 12px;
  border: 1px solid global.$border-radius;
  border-radius: 5px;
  outline: none;
}

.news__item-input::placeholder {
  font-family: global.$roboto-regular !important;
  font-style: normal;
  font-size: 16px;
  color: global.$border-grey !important;
}

.news__item-input {
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 16px;
  color: global.$text-black;
}

.news__item-input:focus {
  border-color: global.$border-blue;
}

.news__item-submit {
  position: relative;
  width: 130px;
  border-radius: 25px;
  background: linear-gradient(
      to bottom,
      global.$light-orange 0,
      global.$dark-orange 100%
    )
    no-repeat;
  border: none;
}

.news__item-submit:hover {
  box-shadow: 0 2px 2px 0 global.$shadow-orange;
}

.news__item-submit:hover::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 130px;
  padding: 23px 0 24px;
  border-radius: 25px;
  background: global.$white-transparent;
}

.news__item-submit:active::after {
  display: none;
}

.news__item-submit:active {
  box-shadow: 0 -2px 2px 0 global.$shadow-orange;
}

.news__item-submit span {
  display: block;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-white;
  letter-spacing: 5%;
  text-shadow: 0 2px 5px global.$shadow-orange;
}
