@use '../../global.scss';

.offers {
  width: 1200px;
  margin: 0 auto;
  padding: 42px 0 0 0;
}

.offers__container {
  width: 1146px;
  margin: 0 auto;
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: 560px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px 25px 23px 17px;
}

.offers__item--rasberry {
  box-sizing: border-box;
  background: url(../../img/malina-bg.png) no-repeat;
}

.offers__item--chocolade {
  background: url(../../img/chocolade-bg.jpg) no-repeat;
}

.offers__item-title {
  margin: 0 0 17px 0;
  padding: 0;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 35px;
  color: global.$basic-white;
}

.offers__item-text {
  margin: 0 0 42px 0;
  padding: 0;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-white;
}

.offers__item-button {
  position: relative;
  //   margin-left: 356px;
  margin-left: auto;
  padding: 12px 0 12px;
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 32px;
  background: linear-gradient(
      to bottom,
      global.$light-orange 0,
      global.$dark-orange 100%
    )
    no-repeat;
}

.offers__item-button:hover {
  box-shadow: 0 2px 2px 0 global.$shadow-orange;
}

.offers__item-button:hover::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  padding: 23px 0 24px;
  border-radius: 32px;
  background: global.$white-transparent;
}

.offers__item-button:active::after {
  display: none;
}

.offers__item-button:active {
  box-shadow: 0 -2px 2px 0 global.$shadow-orange;
}

.offers__item-button--rasberry {
  width: 162px;
}

.offers__item-button--chocolade {
  width: 190px;
}

.offers__item-button--rasberry:hover::after {
  width: 164px;
}

.offers__item-button--chocolade:hover::after {
  width: 194px;
}

.offers__item-button-text {
  display: block;
  font-family: global.$roboto-bold;
  font-style: none;
  font-size: 18px;
  color: global.$basic-white;
  text-shadow: 0 2px 5px global.$shadow-orange;
}
