section.about 
    h2.visually-hidden О нас 
    .about__container   
        h3.about__title Магазин Глэйси – это онлайн и офлайн-магазин по продаже мороженого собственного производства на развес
        ul.about__list 
            li.about__item 
                .about__item-img-container
                    include ../../../assets/img/icons/ice-cream-icon.svg
                p.about__item-text Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
            li.about__item 
                .about__item-img-container
                    include ../../../assets/img/icons/cow-icon.svg
                p.about__item-text Закупка ингредиентов производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
            li.about__item 
                .about__item-img-container
                    include ../../../assets/img/icons/leaf-icon.svg
                p.about__item-text Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
            li.about__item 
                .about__item-img-container
                    include ../../../assets/img/icons/temperature-icon.svg
                p.about__item-text Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус