section.map     
    h2.visually-hidden Карта
    .map__container 
        div.map__ice-cream-icon
        .map__contacts-container 
            span.map__address-title Адрес главного офиса и офлайн-магазина:
            span.map__address-text ул. Большая Конюшенная, <br> 19/8, Санкт-Петербург
                
            span.map__phone-title Для заказов по телефону:
            span.map__phone-text 8 812 450-25-25
            span.map__phone-schedule (с 10 до 20 ежедневно)
                
            a.map__form-button(href="#") 
                span Форма обратной связи 
            