section.news 
    h2.visually-hidden Новости
    .news__container 
        ul.news__list 
            li.news__item.news__item--blog 
                .news__item-container 
                    h3.news__item-description-blog Новое в нашем блоге
                    a.news__item-title-link(href="#") 10 способов сервировки фруктовых щербетов к столу
            li.news__item.news__item--subscribe 
                .news__item-container 
                    p.news__item-description-subscribe Подпишитесь на&nbsp;нашу сладкую рассылку и&nbsp;будьте всегда в&nbsp;курсе всего самого вкусного, что у&nbsp;нас происходит. Обещаем не&nbsp;спамить и&nbsp;не&nbsp;слать всякой ненужной ерунды. Честно =)
                    form.news__item-subscribe-form(action="#")
                        //- input.news__item-input(type="text", value="email@example.com")
                        input.news__item-input(type="text", placeholder="email@example.com") 
                        button.news__item-submit(type="submit") 
                            span Отправить
                    
                    