section.offers  
    h2.visually-hidden Предложения
    .offers__container 
        ul.offers__list 
            li.offers__item.offers__item--rasberry
                h3.offers__item-title Малинка даром!
                p.offers__item-text При покупке 2&nbsp;кг любого фруктового мороженого, добавим в&nbsp;ваш заказ банку малинового варенья бесплатно.
                a.offers__item-button.offers__item-button--rasberry 
                    span.offers__utem-button-text Хочу варенье!
            li.offers__item.offers__item--chocolade
                h3.offers__item-title Шоколадки даром!
                p.offers__item-text При покупке 2&nbsp;кг пломбира, добавим в&nbsp;ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
                a.offers__item-button.offers__item-button--chocolade 
                    span.offers__utem-button-text Хочу шоколадки!