section.promo 
    h2.visually-hidden Промо
    .promo__container   
        .promo__contacts-container 
            .promo__contacts-content-container 
                span.promo__contacts-time c 10 до 20, ежедневно
                span.promo__contacts-phone 8 812 450-25-25
            
        h1.promo__title Пломбир с помадкой и клубничный щербет
        
        .promo__buttons-container 
            ul.promo__change-buttons-list 
                li.promo__change_buttons-item 
                    a.promo__change-button(href="#")
                li.promo__change_buttons-item 
                    a.promo__change-button(href="#") 
                li.promo__change_buttons-item 
                    a.promo__change-button.promo__change-button--active(href="#") 
                    
            a.promo__order-button(href="#") 
                span.promo__order-button-text Давайте оба!  