@use '../../global.scss';

.assortment {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.assortment__container {
  width: 1146px;
  margin: 0 auto;
  padding-bottom: 28px;
  border-bottom: 1px solid global.$white-transparent-3;
}

.assortment__list {
  margin: 0 0 83px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.assortment__item {
  padding-top: 10px;
  width: 280px;
  height: 320px;
  display: flex;
  justify-content: center;
}

.assortment__item:hover .ice-cream {
  background: global.$white-transparent-3;
  width: 280px;
  height: 402px;
  z-index: 10;
}

.assortment__item:hover .ice-cream__price {
  bottom: 146px;
  left: 5px;
}

.assortment__item:hover .ice-cream__button {
  display: block;
  margin: 0 auto;
}

.assortment__item + .assortment__item {
  margin-left: 0;
}

.assortment__item:nth-child(4n + 1) {
  margin-left: 0;
}

.assortment__item:nth-child(n + 5) {
  margin-top: 38px;
}

.assortment__pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.assortment__pagination-button-prev {
  margin: 0 15px 0 0;
}

.assortment__pagination-button-prev svg {
  transform: rotate(180deg);
  opacity: 0.2;
}

.assortment__pagination-list {
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.assortment__pagination-item + .assortment__pagination-item {
  margin-left: 4px;
}

.assortment__pagination-item:first-child .assortment__pagination-link {
  background: global.$basic-white;
  border-radius: 50%;
  color: global.$text-black;
}

.assortment__pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-white;
  text-decoration: none;
}

.assortment__pagination-link:hover {
  background: global.$white-transparent-3;
  border-radius: 50%;
}

.assortment__pagination-link:active {
  background: global.$basic-white;
  border-radius: 50%;
  color: global.$text-black;
}

.assortment__pagination-text {
  display: block;
}
