@use '../../global.scss';

.ice-cream {
  position: relative;
  width: 270px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ice-cream__img {
  display: block;
  margin: 0 auto;
}

.ice-cream__price {
  position: absolute;
  bottom: 64px;
  left: 0;
  display: block;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 45px;
  color: global.$basic-white;
  text-shadow: 0 1px 3px 0 global.$shadow-black-transparent;
}

.ice-cream__kg {
  font-size: 30px;
}

.ice-cream__link-text {
  width: 260px;
  margin-top: 8px;
  margin-bottom: 12px;
  text-align: center;
  display: block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: global.$basic-white;
  text-decoration-color: global.$white-transparent-3;
}

.ice-cream__link-text:hover {
  color: global.$hover-pink;
}

.ice-cream__button {
  position: relative;
  display: none;
  width: 200px;
  padding: 13px 0 12px;
  border-radius: 25px;
  background: linear-gradient(
      to bottom,
      global.$light-orange 0,
      global.$dark-orange 100%
    )
    no-repeat;
  text-decoration: none;
  cursor: pointer;
}

.ice-cream__button:hover {
  box-shadow: 0 2px 2px 0 global.$shadow-orange;
}

.ice-cream__button:hover::after {
  display: block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 200px;
  padding: 23px 0 24px;
  border-radius: 25px;
  background: global.$white-transparent;
}

.ice-cream__button:active::after {
  display: none;
}

.ice-cream__button:active {
  box-shadow: 0 -2px 2px 0 global.$shadow-orange;
}

.ice-cream__button-text {
  text-align: center;
  display: block;
  font-family: global.$roboto-bold;
  font-style: normal;
  font-size: 18px;
  color: global.$basic-white;
  letter-spacing: 5%;
  text-shadow: 0 2px 5px global.$shadow-orange;
}
