@use '../../global.scss';

.selection {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.selection__container {
  width: 1146px;
  margin: 0 auto;
}

.selection__form {
  width: 880px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.selection__form-item-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.selection__form-sort-button {
  width: 196px;
  padding: 8px 16px;
  background: global.$white-transparent-3;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
}

.selection__form-sort-button:hover .selection__form-sort-button-option {
  color: global.$text-black;
}

.selection__form-sort-button:hover svg path {
  fill: global.$text-black;
}

.selection__form-item-legend-sort,
.selection__form-item-legend-price,
.selection__form-item-legend-fat,
.selection__form-item-legend-fill {
  margin: 0 0 8px 14px;
  display: block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 14px;
  color: global.$basic-white;
}

.selection__form-filters-min-input,
.selection__form-filters-max-input {
  width: 25px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  display: inline-block !important;
  font-family: global.$roboto-regular !important;
  font-style: normal !important;
  font-size: 14px !important;
  color: global.$basic-white !important;
}

.selection__form-sort-button-option {
  display: block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-white;
}

.selection__form-item--price {
  margin-left: 18px;
}

.selection__form-item-price-container {
  padding-left: 22px !important;
  padding-right: 22px !important;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 36px;
  background: global.$white-transparent-3;
  border-radius: 22px;
}

.selection__form-item--fat {
  margin-left: 16px;
}

.selection__form-item-fat-container {
  width: 425px;
  padding: 8px 16px;
  background: global.$white-transparent-3;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
}

.selection__form-item-fat-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.selection__form-item-fat-input:checked
  + .selection__form-item-fat-custom-input {
  position: relative;
}

.selection__form-item-fat-input:checked
  + .selection__form-item-fat-custom-input::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background: global.$basic-white-transparent-4;
  border-radius: 50%;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
}

.selection__form-item-fat-custom-input {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 4px solid global.$basic-white-transparent-4;
  box-sizing: border-box;
  border-radius: 50%;
}

.selection__form-item-fat-text {
  display: inline-block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-white-transparent-4;
  margin-left: 6px;
}

.selection__form-item-fat-label:hover .selection__form-item-fat-custom-input {
  border: 4px solid global.$basic-white;
}

.selection__form-item-fat-label:hover .selection__form-item-fat-text {
  color: 4px solid global.$basic-white;
}

.selection__form-item-fat-label:hover
  .selection__form-item-fat-input:checked
  + .selection__form-item-fat-custom-input::before {
  background: global.$basic-white;
}

.selection__form-item--fill {
  margin-top: 10px;
}

.selection__form-item-fill-container {
  width: 712px;
  padding: 8px 16px;
  background: global.$white-transparent-3;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
}

.selection__form-item-fill-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.selection__form-item-fill-custom-input {
  display: inline-block;
  width: 21px;
  height: 20px;
  border: 2px solid global.$basic-white-transparent-4;
  box-sizing: border-box;
  border-radius: 4px;
}

.selection__form-item-fill-text {
  display: inline-block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-white-transparent-4;
  margin-left: 8px;
}

.visually-hidden.selection__form-item-fill-input:checked
  + .selection__form-item-fill-custom-input {
  border: none;
  width: 24px;
  height: 20px;
  background: url(../../../assets/img/icons/checkbox-on-icon.svg);
}

.selection__form-item-fill-label:hover .selection__form-item-fill-custom-input {
  border: 2px solid global.$basic-white;
}

.selection__form-item-fill-label:hover .selection__form-item-fill-text {
  color: global.$basic-white;
}

.selection__form-item-fill-label:hover
  .visually-hidden.selection__form-item-fill-input:checked
  + .selection__form-item-fill-custom-input {
  border: none;
  width: 24px;
  height: 20px;
  background: url(../../../assets/img/icons/checkbox-on-icon-hovered.svg);
}

.visually-hidden.selection__form-item-fill-input:checked
  ~ .selection__form-item-fill-text {
  margin-left: 5px;
}

.selection__form-button {
  width: 144px;
  margin: 32px 0 0 12px;
  padding: 6px 0;
  border: 2px solid global.$basic-white;
  background: global.$white-transparent-3;
  border-radius: 22px;
  box-sizing: border-box;
}

.selection__form-button:hover {
  background: global.$basic-white;
}

.selection__form-button:hover .selection__form-button-text {
  color: global.$text-black;
}

.selection__form-button:active {
  box-shadow: 0 -2px 2px 0 global.$shadow-black-transparent;
}

.selection__form-button-text {
  display: inline-block;
  font-family: global.$roboto-regular;
  font-style: normal;
  font-size: 16px;
  color: global.$basic-white;
}
